<!DOCTYPE html>
html(lang="en")
    head
        include partials/header
    body.login
        .contenedor-formulario
            h1 Inicia Sesión en Uptask
            if error
                p.alerta.error= error 
            form#formulario.caja.caja-login(method="POST" action="/iniciar-sesion")
                .campo
                    label(form="email") E-mail:
                    input(type="email" name="email" placeholder="Tu email" value=email)
                .campo
                    label(form="email") Password:
                    input(type="password" name="password" placeholder="Tu password" value=password) 
                .campo.enviar
                    input.boton(type="submit" value="Iniciar Sesión")
                .campo.acciones
                    a(href="/Crear-cuenta") ¿Aún no tienes cuenta? Crea una gratis
                    a(href="/reestablecer") ¿Olvidaste tu contraseña?
        script(src="/dist/bundle.js")     